include README.md
recursive-include octoprint_juliafirmwareupdater/templates *
recursive-include octoprint_juliafirmwareupdater/translations *
recursive-include octoprint_juliafirmwareupdater/static *
