<div id="settings_jfu">

    <div class="pull-right">
        <button class="btn btn-small" data-bind="click: showPluginConfig" title="{{ _('Plugin Configuration') }}"><i class="icon-wrench"></i></button>
    </div>

    <h3>{{ _('Julia Firmware Updater') }}</h3>
    <br/>

    <form class="form-horizontal">

        <div class="control-group" data-bind="css: {error: !flashPort(), null: flashPort}">
            <label class="control-label">{{ _('Hardware Serial Port') }}</label>
            <div class="controls">
                <input type="text" class="input" data-bind="value: (!flashPort() ? 'Not connected' : flashPort)" readonly>
            </div>
        </div>

        <div class="control-group" data-bind="css: {error: hardwareNotReady, success: !hardwareNotReady()}">
            <label class="control-label">{{ _('Hardware State') }}</label>
            <div class="controls">
                <input type="text" class="input" data-bind="value: (!hardwareNotReady() ? 'Ready' : hardwareNotReady)" readonly>
            </div>
        </div>

        <div class="control-group" data-bind="css: {error: hardwareNotReady, success: !hardwareNotReady()}">
            <label class="control-label">{{ _('Machine Variant') }}</label>
            <div class="controls">
                <input type="text" class="input" data-bind="value: (!hardwareNotReady() ? getBoardName(Config.board_shortcode()) : 'Not detected')" readonly>
            </div>
        </div>

        <div class="control-group" data-bind="css: {error: !Config.version_board(), null: Config.version_board}">
            <label class="control-label">{{ _('Hardware Version') }}</label>
            <div class="controls">
                <input type="text" class="input" data-bind="value: (hardwareNotReady() || !Config.version_board() ? 'Unknown' : Config.version_board)" readonly>
            </div>
        </div>

        <div class="control-group" data-bind="css: {error: !Config.version_repo(), null: Config.version_repo}">
            <label class="control-label">{{ _('Server Version') }}</label>
            <div class="controls">
                <input type="text" class="input" data-bind="value: (hardwareNotReady() || !Config.version_repo() ? 'Unknown' : Config.version_repo)" readonly>
            </div>
        </div>

        <div class="control-group" data-bind="css: {error: !Config.update_check(), null: Config.update_check}">
            <label class="control-label">{{ _('Last update check') }}</label>
            <div class="controls">
                <input type="text" class="input" data-bind="value: (!Config.update_check() ? 'Unknown' : Config.update_check)" readonly>
            </div>
        </div>

        <div class="control-group" data-bind="visible: (!hardwareNotReady() && Config.board_shortcode() && Config.version_board())">
            <label class="control-label"></label>
            <div class="controls">
                <button class="btn btn-info" data-bind="click: checkUpdate">Check for updates</button>
                <button class="btn btn-warning" data-bind="click: startReflash">Reflash firmware</button>
            </div>
        </div>

        <hr>

        {# 
        <div class="progress progress-info progress-striped active" data-bind="visible: isBusy()">
            <div class="bar" style="width: 100%;"><label data-bind="text: progressBarText()"></label></div>
            <hr>
        </div>


        <div class="alert" style="text-align: center;" data-bind="text: alertMessage, visible: showAlert(), css: alertType"></div>
        #}

        <div>
            <i class="icon-list"></i>&nbsp;&nbsp;<h5 style="display: inline-block">Note: </h5>
            <ul>
                <li>Click the wrench icon in the top right corner to view the firmware flashing configuration</li>
            </ul>
            <i class="icon-warning-sign"></i>&nbsp;&nbsp;<h5 style="display: inline-block">Warning</h5>
            <ul>
                <li>As with any firmware flashing there is a risk that things may go wrong.</li>
                <li><b>Do not</b> power-cycle or restart your printer while flashing is in progress</li>
            </ul>
        </div>

    </form>

    <div id="settings_jfu_config" class="modal hide fade">
        <div class="modal-header">
            <a href="#" class="close" data-dismiss="modal" aria-hidden="true">&times;</a>
            <h3>{{ _('Configuration Viewer') }}</h3>
        </div>
        <div class="modal-body">
            <form class="form-horizontal">
                <div class="control-group">
                    <label class="control-label">{{ _('Flash method') }}</label>
                    <div class="controls">
                        <input type="text" class="input" data-bind="value: configFlashMethod" readonly>
                    </div>
                </div>
                <hr>

                <!-- avrdude options for 8-bit MCUs -->
                <div data-bind="visible: showAvrdudeConfig">
                    <div class="control-group">
                        <label class="control-label">{{ _('AVR MCU') }}</label>
                        <div class="controls">
                            <input type="text" class="input" data-bind="value: configAvrdudeMcu" readonly>
                        </div>
                    </div>
                    <div class="control-group" data-bind="css: {error: avrdudePathBroken, success: avrdudePathOk}">
                        <label class="control-label">{{ _('avrdude') }}</label>
                        <div class="controls">
                            <div class="input-append">
                                <input type="text" class="input" data-bind="value: configAvrdudePath" readonly>
                                <button class="btn" type="button" data-bind="click: testAvrdudePath, enable: configAvrdudePath, css: {disabled: !configAvrdudePath()}">{{ _('Test') }}</button>
                            </div>
                            <span class="help-block" data-bind="visible: avrdudePathBroken() || avrdudePathOk, text: avrdudePathText"></span>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">{{ _('Programmer') }}</label>
                        <div class="controls">
                            <input type="text" class="input" data-bind="value: configAvrdudeProgrammer" readonly>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">{{ _('Baud Rate') }}</label>
                        <div class="controls">
                            <input type="text" class="input" data-bind="value: configAvrdudeBaudRate" readonly>
                        </div>
                    </div>
                    <div class="control-group" data-bind="css: {error: avrdudeConfPathBroken, success: avrdudeConfPathOk}">
                        <label class="control-label">{{ _('avrdude.conf') }}</label>
                        <div class="controls">
                            <div class="input-append">
                                <input type="text" class="input" data-bind="value: configAvrdudeConfigFile" readonly>
                                <button class="btn" type="button" data-bind="click: testAvrdudeConf, enable: configAvrdudeConfigFile, css: {disabled: !configAvrdudeConfigFile()}">{{ _('Test') }}</button>
                            </div>
                            <span class="help-block" data-bind="visible: avrdudeConfPathBroken() || avrdudeConfPathOk, text: avrdudeConfPathText"></span>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">{{ _('Flash verification') }}</label>
                        <div class="controls">
                            <div class="input">
                                <input type="text" class="input" data-bind="value: (configAvrdudeDisableVerification ? 'Disabled' : 'Enabled')" readonly>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end avrdude options -->

                <!-- bossac options for 32-bit MCUs -->
                <div data-bind="visible: showBossacConfig">
                    <div class="control-group" data-bind="css: {error: bossacPathBroken, success: bossacPathOk}">
                        <label class="control-label">{{ _('Path to bossac') }}</label>
                        <div class="controls">
                            <div class="input-append">
                                <input type="text" class="input" data-bind="value: configBossacPath" readonly>
                                <button class="btn" type="button" data-bind="click: testBossacPath, enable: configBossacPath, css: {disabled: !configBossacPath()}">{{ _('Test') }}</button>
                            </div>
                            <span class="help-block" data-bind="visible: bossacPathBroken() || bossacPathOk, text: bossacPathText"></span>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">{{ _('Flash verification') }}</label>
                        <div class="controls">
                            <div class="input">
                                <input type="text" class="input" data-bind="value: (configBossacDisableVerification ? 'Disabled' : 'Enabled')" readonly>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end bossac options -->
            </form>
        </div>
        <div class="modal-footer">
            {# <button class="btn" data-dismiss="modal" data-bind="click: onConfigHidden" aria-hidden="true">{{ _('Cancel') }}</button> #}
            <button class="btn btn-primary" data-bind="click: onConfigClose" aria-hidden="true">{{ _('Ok') }}</button>
        </div>
    </div>

</div>

